.header{
    height:300px;
    background-image: url('image/sobi1.png');
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: 200px;
    background-position: 50% 50%;
}

h3{
    font-size: 40px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace Arial, Helvetica, sans-serif;
}

.danger{
    color:red;
    border:3px solid purple;
    /* display:block; */
    /* height:200px; */
    margin:20px;
    padding:10px;
    /* display:inline-block; */
}
.blog{
    margin:40px;
    border:10px solid blueviolet;
    box-shadow:10px 10px 100px gray;
}
#second{
    /* display:none; */
    /* visibility:hidden; */
}
li{
    display:inline;
}